@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text&display=swap');
body {background-color: #000;
}

h1, ul, h2, h3, a{
	color: #fff;
	font-family: "Oswald", sans-serif;
}

h1, p, ul, h2{
	text-align: center;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.scroll div{
	position: absolute;
	top: 50%;
	left: 50%;
	background: #000000a3;
	padding: 1em;
	transform: translate(-50%, -50%);
}
nav h2: nth-of-type(1){
	top:50%;
	left: 1em;
}
nav h2: nth-of-type(2){
	top:25%;
	left: 1em;
}
nav h2: nth-of-type(3){
	top: 3em;
	left: 50%;
}
nav h2: nth-of-type(4){
	top: 50%;
	right: 1em;
}

h3{
text-align: right; 
margin-right: 30px;
}